<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="kit_kat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <kit_kat.Properties.Settings>
            <setting name="IPAddress" serializeAs="String">
                <value>3DS IP Address</value>
            </setting>
            <setting name="tScale" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="ViewMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PriorityFactor" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="QOSValue" serializeAs="String">
                <value>101</value>
            </setting>
            <setting name="ScreenPriority" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Quality" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="WindowColor" serializeAs="String">
                <value>104, 118, 138</value>
            </setting>
            <setting name="HighlightColor" serializeAs="String">
                <value>144, 202, 249</value>
            </setting>
            <setting name="IconColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="AlertColor" serializeAs="String">
                <value>IndianRed</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="DisabledColor" serializeAs="String">
                <value>90, 90, 90</value>
            </setting>
            <setting name="BatchFile" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bScale" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="ShowConsole" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IRDebug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IRGamepad" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IRKB" serializeAs="String">
                <value>A,S,N,M,H,F,T,G,W,Q,Z,X,Right,Left,Up,Down</value>
            </setting>
            <setting name="IRGP" serializeAs="String">
                <value>1,2,4,8,16,32,64,128,256,512,1024,2048</value>
            </setting>
        </kit_kat.Properties.Settings>
    </userSettings>
</configuration>
